<template>
    <image-uploader></image-uploader>
</template>

<script>
    import ImageUploader from './ImageUploader';
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        components: {
            ImageUploader
        }
    }
</script>

<style lang="sass">
@import '~vue-toastr/src/vue-toastr.scss';
</style>

